<!DOCTYPE html>
<html>
  <head>
    </head>

  <body>
    <header>
      <h1><%= link_to 'Football Base', root_path %></h1> 
      <nav>
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Leagues', leagues_path %></li>
          <li><%= link_to 'Clubs', clubs_path %></li>
          <li><%= link_to 'Players', players_path %></li>
        </ul>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      </footer>
  </body>
</html>