<!DOCTYPE html>
<html>
  <head>
      <title>Football Base</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>
    <%= yield :stylesheets %>
  </head>

  <body>
    <nav class="navbar">
      <div class="navbar-container">
        <a href="<%= root_path %>" class="navbar-brand">Football Base</a>
        <ul class="navbar-buttons">
          <li><a href="<%= leagues_path %>" class="navbar-item">Leagues</a></li>
          <li><a href="<%= clubs_path %>" class="navbar-item">Clubs</a></li>
          <li><a href="<%= players_path %>" class="navbar-item">Players</a></li>
        </ul>
      </div>
    </nav>
    
    <div class="container mt-4">
      <% flash.each do |type, msg| %>
        <div class="alert alert-<%= type == 'notice' ? 'success' : 'danger' %>" role="alert">
          <%= msg %>
        </div>
      <% end %>
    </div>

    <%= yield %>

    <footer class="footer">
      <div class="footer-container">
        <p>&copy; 2025 Football Base. All rights reserved.</p>
        <div class="footer-links">
          <a href="#">About Us</a>
          <a href="#">Contact</a>
          <a href="#">Privacy Policy</a>
        </div>
      </div>
    </footer>
  </body>
</html>
